html, body{
    margin: 0;
    padding: 0;
}


/* top-bacground-image */
#welcome-section{
    top: 0%;
    background-image: url("../Images/sean-foley-kMpbE_-jCeI-unsplash.jpg");
    background-color: rgba(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.432), 25);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 275px;
}

.navbar{
    padding: 25px;
    background-color: rgba(56, 32, 192, 0.938);
}

/*Main Title*/
.body-title{
    font-size: 70px;
    color: rgba(151, 72, 224, 0.719);
    font-family: sans-serif;
    font-weight: 250;
    text-align: left;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em;
    transition: color 0.3s ease;
}

.nav a:hover{
    color: rgba(48, 174, 224, 0.568);
    
}

.main-nav{
    text-align: end;
    font-size: 1.3em;
    font-weight: lighter;
    font-family: sans-serif;
    padding-right: px;
}

.nav{
    top: 0;
    position: fixed;
    width: 100%;
    margin: 0px;
    text-align: justify;
}

.main-footer{
    padding: .25em 0;
}

.contact-info{
    text-align: center;
    margin: 0;
    color: rgba(0, 17, 255, 0.295);
    font-size: 20px;
    font-family: sans-serif;
}

.container{
    max-width: 900px;
    margin: 200 500;
    padding: 0 16em;
}

.main-foot-container{
    display: flex;
    align-items: center;
}

.main-foot-container ul{
    flex-grow: 1;
    text-align: end;
}

.nav-title{
    text-align: left;
    color: rgba(222, 229, 238, 0.842);
    padding-right: 30em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: lighter;

}

.about{
    text-align: center;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

#about{
    padding-bottom: 9em;
    padding: 5em;
}